<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dust.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name="com.dust.app.application.MApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${aliAppID}" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${aliAppSecret}" />

        <activity android:name="com.dust.app.activity.CppActivity" />
        <activity
            android:name="com.dust.app.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.dust.app.activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.dust.app.activity.MainActivity" />
        <activity
            android:name="com.dust.app.activity.SettingActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.dust.app.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dust.app.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.dust.app" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dust.app.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.dust.app.service.InstallService" />
        <service android:name="com.dust.app.service.GPSService" />
        <service android:name="com.dust.app.service.MQTTService" />
        <service android:name="com.dust.app.service.UpdateService" />

        <receiver
            android:name="com.dust.app.receiver.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>